body {
    margin:0;
    width:100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow:hidden;
    background: linear-gradient(180deg, rgb(54,54,105) 0%, rgba(31,31,40) 100%);
}
header {
    width:100%;
    height:103vh;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h2 {
    font-size:2rem;
    text-align:center;
    text-transform:uppercase;
    letter-spacing: 10px;
    padding-left: 10px;
    line-height: 1.5em;
    font-family:'montserrat';
    position:relative;
    top:-170px;
}
.white-text {
    color:rgb(255,255,255,.9);
}
.spaceship {
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    animation:spaceship 8s ease-in-out 10s infinite, spaceship-entry 10s ease-in-out;
}
.spacehull {
    width:250px;
    height:250px;  
    border-radius:95% 5% 40% 60% / 40% 5% 95% 60% ;
    background:rgb(49, 49, 109);
    transform:rotate(-45deg);
    position:absolute;
    margin-top:80px;
    box-shadow: 
    inset 60px -60px 120px -100px rgba(224, 255, 83,.5),
    inset 15px -15px 10px -20px rgb(255, 248, 146,.5),
    inset 5px 50px 5px -45px rgba(255, 255, 255, .5),
    inset -50px -5px 5px -42px rgb(0, 0, 0, .2);
}
.thruster-container {
    position:absolute;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.engines, .fire {
    display:flex;
    position:relative;
    top:145px;
}
.engines div {
    height:60px;
    width:45px;
    background:rgb(52, 52, 100);
    border-radius:50% / 5px;
    margin:0 50px;
    position:relative;
    top:-50px;
}
.engines div::before {
    content:'';
    display:inline-block;
    width:45px;
    height:7px;
    margin-bottom:13px;
    background:rgb(48, 48, 96);
    border-radius: 50%;
}
.engines div:first-child {
    box-shadow:
    0 -30px 15px 0px rgb(55, 55, 104,.8),
    0 -60px 15px 6px rgb(55, 55, 104,.8),
    0 -70px 45px 15px rgb(55, 55, 104,.8),
    inset -38px 0px 17px -29px rgba(224, 255, 83, 0.25),
    inset 19px 0px 8px -14px rgba(252, 255, 210, 0.3);
}
.engines div:last-child {
    box-shadow:
    0 -30px 15px 0px rgb(55, 55, 104,.8),
    0 -60px 15px 6px rgb(55, 55, 104,.8),
    0 -70px 45px 15px rgb(55, 55, 104,.8),
    inset 19px 0px 8px -17px rgba(255, 255, 255, 0.3),
    inset 38px 0px 23px -29px rgba(224, 255, 83, 0.25),
    inset -19px 0px 11px -15px rgb(0, 0, 0, .1);
}
.fire div {
    height:60px;
    width:60px;
    background:yellow;
    margin:0 42px;
    border-radius:100% 0% 100% 0% / 100% 0% 100% 0%;
    position:relative;
    top:35px;
    box-shadow: inset -70px 70px 20px -39px rgb(255, 81, 0);
    animation: fire 1.5s ease-in-out infinite;
    transform:rotate(-45deg);
}
.cockpit {
    height:100px;
    width:100px;
    background-image:url(/img/298px-Prap.jpg);
    background-size:cover;
    position:absolute;
    top:-5px;
    border-radius:50%;
}
.cockpit:before {
    content:'';
    display:inline-block; 
    height:100px;
    width:100px;
    background:rgb(173, 162, 236,0.8);
    position:absolute;
    border-radius:50%;
    box-shadow: 
    inset 10px 10px 15px 3px rgba(255, 255, 255, .4),
    inset -30px -5px 15px -15px rgb(0, 0, 0, .2),
    inset 0px -20px 20px -15px rgba(211, 255, 15, 0.582);
}
article {
    width:100%;
    background:white;
    padding:15px;
}
.stars div, .stars div:before, .stars div:after {
    background:white;
    position:absolute;
    box-shadow:0 0 5px 5px rgb(255,255,255,0.2);
    border-radius:50%;
    z-index:-1;
}
.stars div:before, .stars div:after {
    content:'';
    display:inline-block; 
}
.stars div {
    height:2px;
    width:2px;
}
.stars div:before {
    height:7px;
    width:7px;
    left:20px;
    top:-300px;
}
.stars div:after {
    height:5px;
    width:5px;
    left:-150px;
}
.stars1 div {
    animation:stars-slow 40s linear infinite;
}
.stars1 div:before {
    animation:stars-fast 40s linear infinite;
}
.stars1 div:after {
    animation:stars-medium 40s linear infinite;
}
.stars2 div {
    animation:stars-slow 40s linear 20s infinite;
}
.stars2 div:before {
    animation:stars-fast 40s linear 20s infinite;
}
.stars2 div:after {
    animation:stars-medium 40s linear 20s infinite;
}

.stars div:nth-child(1) {
    left:5%;
    top:-125%;
}
.stars div:nth-child(2) {
    left:15%;
    top:-155%;
}
.stars div:nth-child(3) {
    right:20%;
    top:-45%;
}
.stars div:nth-child(4) {
    left:35%;
    top:-75%;
}
.stars div:nth-child(5) {
    right:45%;
    top:-100%;
}
.stars div:nth-child(6) {
    right:50%;
    top:-150%;
}
.stars div:nth-child(7) {
    right:10%;
    top:-160%;
}
@keyframes stars-slow {    
    100% {transform:translate(0,2950px);}
}
@keyframes stars-medium {    
    100% {transform:translate(0,1070px);}
}
@keyframes stars-fast{    
    100% {transform:translate(0,2050px);}
}
@keyframes fire {
    50% {transform:translate(0,5px)scalex(.85)rotate(-45deg);}
}
@keyframes spaceship-entry {
    0% {transform:translate(0,2000px)rotate(0deg)}
    100% {transform:translate(0,0px)rotate(0deg)}
}
@keyframes spaceship {
    30% {transform:translate(-5px,-40px)}
    60% {transform:translate(5px,30px)}
    80% {transform:translate(11px,-5px)}
    100% {transform:translate(0,0px)}
}


@media screen and (max-width: 1000px) {
    h2 {
        font-size:1.3rem;
    }
}